.blue{
	background-color:#0000FF;
	color:#00FF00;
}

.green{
	background-color:#00FF00;
	color:#0000FF;
}

h1{
	text-family:Helvetica;
	text-align:center;
}

p{
	text-family:Arial;
}

h3{
	text-family:Helvetica;
	text-align:center;
}

a{
	color:#00FFFF;
	font-style:italic;
	background-color:#FFA500;
}
